<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseApi" value="https://api.appcenter.ms/v0.1/apps/" />
		<add key="user" value="djordje.miletic" />
		<add key="application" value="TestAppCenterApp" />
		<add key="token" value="535323fbd2461cf9fb0ad7fc2a99369db8f9906c" />
	</appSettings>
</configuration>